footer {
    grid-area: ft;
    background-color: #60adc0;
}

html {
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    margin: 0;
    padding: 0;
    background-image:url(../img/gen2.jpeg);
    

    height: 17rem;
}

section h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 100px 

}
body {
    background-color: #ff4b9f;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;;
}
@media screen and (max-width:700px) {
    
    body {
        background-color: purple;
    }

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 35vh;
    height: 40vh;
    margin: 2.5vh;
    perspective: 1000px;
    transition: transform 0.6s;
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #f2f2f2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    object-fit: cover;
  }
  
  .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-back {
    background-color: #666;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
section h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 100px 

}
section{

    text-align: center;
}
body {
    background-color:#048ecc;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;;
}
@media screen and (max-width:700px) {
    
    body {
        background-color: purple;
    }

}
#wrapper {
margin-top: 0%;
}

header{
    position: relative;
    margin: 0;
    padding: 0;

    height: 17rem;
}
#hambuger {
    /* border: 1px brown; */
    height: 1.5rem;
    width: 2..2rem;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}
#hamburger div {
    border: 2px palevioletred;
    margin: 0.3rem;
}
#line2 {
    border-color: chartreuse;
}
nav ul {
    display: block;
    padding: 0;
}
nav ul li{
    text-align: center;
}
nav ul li a {
    width: 100%;
    height: 100%;
}
nav ul li:hover {
    background-color: #c80e35;
}
main{
    text-align: center;
}
footer{
    text-align: center;
}